@import "../../css/theme";

.switch {
  .toggle {
    position: relative;
    display: inline-block;
    width: 2.2rem;
    height: 1.1rem;
    border-radius: 1rem;
    @include themed() {
      background-color: t('switchBg');
    }
  }

  .toggle:after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    @include themed() {
      background-color: t('switchFg');
    }
    top: 0.05rem;
    left: 0.1rem;
    transition: all 0.5s;
  }

  .checkbox:checked + .toggle::after {
    left: 1.2rem;
  }

  .checkbox:checked + .toggle {
    @include themed() {
      background-color: t('switchBg');
    }
  }

  .checkbox {
    display: none;
  }
}