@import "../css/theme.scss";
.switch {
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    border-radius: 30px;
    @include themed(){
      background-color: t('switchBg');
    }
  }

  .toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include themed(){
      background-color: t('switchFg');
    }
    top: 1px;
    left: 1px;
    transition: all 0.5s;
  }

  .checkbox:checked + .toggle::after {
    left: 30px;
  }

  .checkbox:checked + .toggle {
    @include themed(){
      background-color: t('switchBg');
    }
  }

  .checkbox {
    display: none;
  }
}