@import "theme.scss";
@import "device.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @include themed() {
    background-color: t('backgroundColor');
  }

  .search-header {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
  }

  .search-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;

    .search-wrapper {
      display: flex;
      flex-direction: row;
      width: 60vw;
      @media (max-width: $mobileWidth) {
        width: 80vw;
      }

      .search-input-group{
        display: flex;
        flex-direction: row;
        align-items: center;

        .select{
          height: 2.3rem;
          width: 8vw;
          max-width: 85px;
          border: 1px solid #fcfcfc;
          padding: 5px 0 5px 10px;
          border-radius: 20px 0 0 20px;
          @include themed(){
            color: t('primaryTextColor');
          }
          option{
            border-radius: 5px;
          }
          @media (max-width: $mobileWidth) {
            width: 21vw;
          }
        }
        .select:focus{
          outline: none;
        }
        .search-input {
          outline: none;
          border-radius: 0 20px 20px 0;
          border: 1px solid #fcfcfc;
          padding: 5px 10px;
          height: 1.6rem;
          @media (max-width: $mobileWidth) {
            min-width: 50vw;
          }
          min-width: 40vw;
        }

        .search-input:focus{
          @include themed(){
            box-shadow: 0 0 2px t('borderColor');
            border: 1px solid t('borderColor');
          }
        }
      }
      .search-button {
        margin-left: 10px;
        padding: 8px 20px;
        border-radius: 5px;

        cursor: default;
        @include themed() {
          background-color: t('backgroundColor');
          color: t("primaryTextColor");
          border: 1px solid t("borderColor");
        }
      }
    }

    .site-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      @media (max-width: $mobileWidth) {
        width: 90%;
      }
      width: 63%;
      .site-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobileWidth) {
          height: 3.8rem;
          width: 2rem;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
        }
        padding: 1em;
        margin: 1rem;
        height: 6.2rem;
        width: 4.8rem;
        border-radius: 0.5rem;

        .img {
          @media (max-width: $mobileWidth) {
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
            font-size: 1.4rem;
          }
          height: 4rem;
          width: 4rem;
          line-height: 4rem;
          font-size: 2rem;
          text-align: center;
          font-weight: bold;
          border-radius: 50%;
          @include themed() {
            color: t("primaryTextColor");
            border: 1px solid t('borderColor');
          }
        }

        .name {
          @include themed() {
            color: t("primaryTextColor");
          }
        }
      }

      .site-item:hover {
        @include themed() {
          box-shadow: 0 0 0.5rem t('borderColor');
        }
      }
    }
  }
}


