$themes: (
        light: (
                backgroundColor: #fcebeb,
                primaryColor: #319986,
                switchBg: #ececec,
                switchFg: #fff,
                borderColor: #28a87c,
                primaryTextColor: #28a87c,
                secondaryTextColor: #555555
        ), dark: (
                backgroundColor: #212121,
                primaryColor: #319986,
                switchBg: #fcfcfc,
                switchFg: #212121,
                borderColor: #50d5a8,
                primaryTextColor: #29a77d,
                secondaryTextColor: #555555
        )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
